<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="./static/images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./static/images/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./static/images/favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./static/images/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="./static/images/favicon-192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./static/images/favicon-512.png" sizes="512x512">

    <meta name="robots" content="<%= robotsContent %>" />
    <meta name="description" content="Analyzes the GitHub profile of a given user and generates statistics about it" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="Analyzes the GitHub profile of a given user and generates statistics about it" />
    <meta property="og:image" content="<%= siteUrl %>/static/images/favicon-1024.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta name="twitter:description" content="Analyzes the GitHub profile of a given user and generates statistics about it" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:site" content="@tschortsch85" />
    <meta name="twitter:image" content="<%= siteUrl %>/static/images/favicon-1024.png" />
    <meta name="twitter:creator" content="@tschortsch85" />
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
